.contactcontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  width: 450px;
  border-radius: 20px;
  background-color: transparent;
  margin: 10px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.contactcontainer svg {
  font-size: 3em;
  transition: all 0.5s ease-in-out 0s;
  color: var(--clr-primary);
  border: 1px solid rgb(25, 122, 201);
  padding: 5px;
  border-radius: 20%;
  background-color: transparent;
 
}

.emailsender{
  text-align: center;
  margin-top: 30px;
  gap: 30px;
}

.contact-inputs{
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 30px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.input1{
  border: 1px solid #2978b5;
  text-align: center;
  text-align: center;
  height: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  border-radius: 10px;
}

.input2{
  border: 1px solid #2978b5;
  text-align: center;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.input3{
  border: 1px solid #2978b5;
  text-align: center;
  border-radius: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 25px;
  height: 150px;  
}

.input4{
  border: 1px solid #2978b5;
  display: flex;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  justify-content: center;  
}

.input4:hover{
 background-color: #2978b5;
 color: black;  
}

.mailNumber .email {
  font-size: 2.5em;
  transition: all 0.5s ease-in-out 0s;
  color: var(--clr-primary);
}


.mailNumber .phone{
  font-size: 1.8em;
  transition: all 0.5s ease-in-out 0s;
  color: var(--clr-primary);
}

.mailNumber > div{
  display: flex;
  flex-direction: row;
 }

.mailNumber p{
  margin: 5px;
}

.contactcontainer svg:hover {
  font-size: 6rem;
}

.linkedin:hover {
  color: green;
}

.github:hover {
  color: green;
}

.email:hover {
  color: green;
}

.twitter:hover {
  color: green;
}

.phone:hover {
  color: green;
}

p{
  cursor: pointer;
}

.mailNumber{
  border-radius: 20px;
  background-color: transparent;
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.contactMain{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
}

@media (max-width: 670px) {
  .contactcontainer svg {
    font-size: 2.8em;
  }

  .contactcontainer{
    width: 100%;
  }

  .mailNumber{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .mailNumber div{
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .contactMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .iconsCont{
    width: 90%
  }

  .contactcontainer svg:hover {
    font-size: 5rem;
  }
  .contact-inputs{
    width: 100%;
  }
  
}
